<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fav</title>
</head>

<body>
    <% data.forEach(val=>{%>
        <div>
            <img src="<%=val.img%>" alt="">
            <h2>
                <%=val.name%>
            </h2>
            <h2>
                <%=val.level%>
            </h2>
            <a id="" href="/fav/<%=val.id%>">View details </a>
        </div>
        <%})%>
</body>

</html>